        /*! ===  Аbout  ===  */
.about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 70px;
}

.about-container
.about-img {
    flex: 1 1 250px;
}
.about-container
.about-img img {
   display: block;
   margin: 0 auto;
   border-radius: 100px;
}

.about-data {
    flex: 1 1 350px;
}

.about-description {
    color: var(--text-color);
    text-align: justify;
    margin-bottom: 25px;
}

.about-info {
    display: flex;
    margin-bottom: 30px;
}

.about-info-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 20px;
}

.number {
    font-size: var(--h3-font-size);
    color: var(--title-color);
    text-align: center;
}

.about-info-name {
    text-align: center;
}