         /*! ===  HOME =====  */
.home-container {
    gap: 16px;
}

.home-content {
    grid-template-columns: 5fr 3fr;
    align-items: center;
    padding-top: 56px;
}

.home-social {
    display: grid;
    grid-template-columns: max-content;
    row-gap: 16px;
}

.home-line {
    position: relative;
    height: 60px;

    display: none;
}

.home-line-1 {
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgb(165,165,165), rgb(165,165,165));
    width: 1px;
    height: 170px;
    margin: auto;
    position: absolute;
    top: -110px;
    left: 9px;
}

.home-social-icon {
    color: var(--title-color);
    font-size: 20px;
    text-align: center;
}

.home-line-2 {
    background-image: -webkit-linear-gradient(top, rgb(165,165,165), rgb(165,165,165), rgba(0,0,0,0));
    width: 1px;
    height: 170px;
    margin: auto;
    position: absolute;
    bottom: -110px;
    left: 9px;
}

.home-img {
    width: 200px;
}

.home-img img {
    border-radius: 60px;
}
                /*? начало анимации photo */
.photo {
    animation: float 6s ease-in-out infinite;
}
@keyframes float {
    0% {
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
        transform: translateY(0px);
    }
     50% {
        box-shadow: 0 25px 15px rgba(0, 0, 0, 0.2);
        transform: translateY(-20px);
    }
    100% {
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
        transform: translateY(0px);
    }
}
                  /*? конец анимации photo */

.home-info {
    grid-column: 1 /3;
}

.home-title {
    font-size: var(--h1-font-size);
}

.subtitle-container {
    overflow: hidden;            /*скрываем переполнение контента(текста)  */
    height: 40px;
    margin: 5px 0px;
}
                    /*? начало анимации subtitle-list-item */
.subtitle-list {
    animation: animate 10s infinite;
}
.subtitle-list-item {
    line-height: 40px;
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    color: var(--hover-color);
}
@keyframes animate {
    0%, 12%, 100% {
        transform: translate3d(0,0,0);
    }
    16%, 29% {
        transform: translate3d(0, -25%, 0);
    }
    33%, 46% {
        transform: translate3d(0, -50%, 0);
    }
    50%, 62% {
        transform: translate3d(0, -75%, 0);
    }
    66%, 79% {
        transform: translate3d(0, -50%, 0);
    }
    83%, 96% {
        transform: translate3d(0, -25%, 0);
    }
}
                /*? конец анимации  subtitle-list-item  */ 

.home-description {
    margin-bottom: 25px;
}

.home-scroll {
    display: none;
}

#home-scroll {
    text-align: -webkit-right;
    transform: translateX(170px);
    margin-top: -290px;
}

#box {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

#scroll-down {
    display: block;
    position: relative;
    padding-top: 80px;
    text-align: center;
}
#scroll-down::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1px;
    width: 1px;
    height: 90px;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgb(125,125,125), rgba(0, 0, 0, 0));
    animation: arrow 1.2s cubic-bezier(1,0,0,1) infinite; 
}

.arrow-down {
    display: block;
    margin: 0 auto;
    width: 10px;
    height: 38px;
}
.arrow-down::after {
    content: '';
    position: absolute;
    display: block;
    width: 8px;
    height: 8px;
    border-top: 1px solid #888;
    border-right: 1px solid;
    transform: rotate(135deg);
}

#scroll-title {
    display: block;
    color: var(--title-color);
    font-size: var(--font-semi-bold);
    font-weight: var(--font-regular);
    letter-spacing: .15rem;
    transform: rotate(90deg);
    padding-left: 100px;
}
             /*? начало анимации arrow-down(стрелочки) */
@keyframes arrow {
    0% {
        transform-origin: 0%  0%;
        transform: scale(1, 0);
    }
    50% {
        transform-origin: 0% 0%;
        transform: scale(1, 1);
    }
    50.1% {
        transform-origin: 0% 100%;
        transform: scale(1, 1);
    }
    100% {
        transform-origin: 0% 100%;
        transform: scale(1, 0);
    }
}
                /*? конец анимации arrow-down(стрелочки) */

         /*! ===  Адаптив  ===  */
/* Для бльших размеров */
@media screen and (min-width: 1200px){
    .home-img {
        width: 300px;
    }

    .home-social {
        transform: translateX(-96px);
    }

    .home-line,
    .home-scroll {
        display: block;
    }

}

/* Для средних размеров */
 @media screen and (min-width: 767px) {

    .home-container {
        row-gap: 80px;
    }
    .home-content {
        padding-top: 88px;
        column-gap: 32px;
    }
 }

 @media screen and (min-width: 568px) {
    .home-content {
        grid-template-columns: max-content 1fr 1fr;
    }
    .home-info {
        grid-column: initial;
    }
    .home-img {
        order: 1;
        justify-self: center;
    }
 }

 /* Для маленьких размеров */
@media screen and (max-width: 400px) {
    .home-content {
        grid-template-columns: .25fr 3fr;
    }
    .home-img {
        width: 180px;
    }

}